body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F0;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

nav {
    background-color: #C2A68C;
    padding: 15px;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #E6D8C3;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #5D866C;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

p, ul, ol {
    font-size: 18px;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

.recipe-card {
    background: white;
    border-radius: 15px;
    padding-bottom: 20px;
    text-decoration: none;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.recipe-card h3 {
    text-align: center;
    color: #333;
    font-size: 20px;
    margin-top: 10px;
}

.recipe-card:hover {
    transform: scale(1.03);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}